.element {
  display: flex;
  flex-direction: row;
}

.element > img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.element > div {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.elementdisplay {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  grid-area: MiddleRightSide;
}
