.iconbarheader {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

.icontab {
  height: 30px;
  width: 30px;
  background-color: gray;
}

.icontabcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.playericon {
  height: 30px;
  width: 30px;
  display: inline;
}

.playericon > img {
  height: 30px;
  width: 30px;
}

.iconbar {
  grid-area: sidebar;
}
