.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr minmax(500px, auto) 0.3fr 0.25fr;
  grid-template-rows: 39.3px 1fr;
  gap: 1px;
  grid-template-areas:
    "Header Steps RightSide MiddleRightSide "
    "sidebar Canvas RightSide MiddleRightSide ";
}

.header {
  grid-area: Header;
}

.canvas {
  grid-area: Canvas;
}

.iconbar {
  grid-area: sidebar;
}

.steps {
  grid-area: Steps;
}

.propertydisplay {
  grid-area: RightSide;
}

.elementdisplay {
  grid-area: MiddleRightSide;
}

/* Light Theme */
.App {
  --background-color: #333333;
  --text-color: #ffffff;
  --darkest: #1a1a1a;
  --darker: #333333;
  --dark: #4d4d4d;
  --light: #666666;
  --lighter: #808080;
}

/* Dark Theme */
.light {
  --background-color: #333333;
  --text-color: #000000;
  --darkest: #f2f2f2;
  --darker: #e6e6e6;
  --dark: #cccccc;
  --light: #b3b3b3;
  --lighter: #999999;
}

.canvasarea {
  grid-area: Canvas;
  position: relative;
  overflow-y: auto;
}

.centercanvas > canvas {
  position: absolute;
}

.centercanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
